.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color:  #ffffe6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #000;
}

.App-upload {
  text-align: left;
}

.App-link {
  color: #000;
}

#container {
  width:100%;
  text-align:center;
}

#left {
  float:left;
  width:40%;
}

#center {
  display: inline-block;
  margin:0 auto;
  width:10%;
}

#right {
  float:right;
  width:40%;
}